body {
    margin: 0;
    font-family: 'Nova Square', sans-serif;
    background: linear-gradient(to right, #312856, #050608); /* Adjust color values as needed */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    background-color: rgb(77, 58, 96); /* Gray color for the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

.logo {
    max-width: 100px;
    height: auto;
}

.menu-icon {
    display: none; /* Hide initially on larger screens */
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: block; /* Show on smaller screens */
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }
    
    nav ul.show {
        display: flex;
    }
}
