body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #240B36;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #444;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
}

.carousel {
  margin: 20px auto;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel h2 {
  text-align: center;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.about {
  text-align: center;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
}

.rounded-box {
  padding: 4px 10px;
  background-color: #f2f2f2;
  color: #000;
  border-radius: 10px;
  display: inline-block;
}
