/* Existing styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #240B36;
  color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #444;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #555;
}

h1, h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
}

.carousel {
  margin: 20px auto;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.carousel h2 {
  text-align: center;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.about {
  text-align: center;
  padding: 20px;
  flex: 1;
}

.rounded-box {
  padding: 4px 10px;
  background-color: #f2f2f2;
  color: #000;
  border-radius: 10px;
  display: inline-block;
}

/* New styles for project cards */
.projects {
  padding: 20px;
  text-align: center;
  flex: 1;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  margin-bottom: 50px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  width: 350px; 
  height: 500px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-card h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #f2f2f2;
}

.project-card p {
  padding: 0 10px 20px;
  margin: 0; /* Remove bottom margin */
  color: #ddd;
  height: 100px; /* Description area height */
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
}
